/runs
/Archive
/wandb
/trained_models/*
!/trained_models/saved
/data/of500_images_resized
/data/processed/gitignore
/notebooks
__pycache__/
*.pyc
*.pyo
/data/output/saved_noun_preds/
/data/output/saved_verbnoun_preds/
/data/abstract_imgs/
/data/output/coformer_inference_abstract/
/data/output/coformer_inference_xtf_correct/
/data/xtf_correct_imgs/
/data/output/saved_verb_preds/
/data/processed/imsitu_clip_xtf_features
glove*.txt
glove*.zip
/imsitu_clip_xtf_features
/of500_images
/data/abstract_imgs/*.jpg
/data/vidsitu_annotations/
barebones_data_setup.yml